[2017-10-07 04:36] surbas opened #4 "Please pre-compile bundle for use in Create-A-React apps"
First awesome log viewer. It was a breeze to setup, but when I went to build my app I got a message in my console cause, CAR was unable to uglify this library. I got a link to the following
https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

Would it be possible to have pre-compiled 'binaries' sent when you guys

[2017-10-10 12:13] eliperelman commented on #4
So the reason this doesn't work directly in Create React App is I don't think CRA does minification on the node_modules directory. Since there is ES2015+ code in the this package, and Uglify only works with ES5 code, that's where the problem lies.

As mentioned in the README:

So the repo is compiled using babel-preset-env to support the latest browser versions and minified using Babel minify, but

[2017-10-10 12:13] #4 closed

[2017-10-12 14:57] eliperelman commented on #4
Hey @surbas, turns out it was simple enough to compile two versions! I've released v2 which allows you to import an ES5 version for CRA:

[code]

Lemme know how that works!

[2017-10-16 20:39] surbas commented on #4
Works great! Thanks.

[2017-10-17 07:44] j-fuentes opened #5 "ES5 version of LazyStream is not included"
In the [README.md](https://github.com/mozilla-rpweb/react-lazylog/blob/master/README.md#getting-started) it says that ES5 versions of components are available.

In fact, in the example snipped it imports `'react-lazylog/lib/LazyLog.es5'` and `'react-lazylog/lib/LazyStream.es5'`.

I managed to import the first one, but not `LazyStream.es5`.

I have inspected inside `node_modules/react-lazylog/lib`

[2017-10-17 13:41] j-fuentes commented on #5
I think the readme is wrong and `LazyLog.es5.js` contains everything.

[2017-10-17 13:46] eliperelman commented on #5
@j-fuentes good catch! Yeah, it appears the README is wrong, and you can import everything from the `LazyLog.es5.js` file. I'll update that.

[2017-10-17 13:49] eliperelman commented on #5
Fixed in 654fadb5b535dc8ec0901a6d79f7d3903214533a. Released in v2.0.1.

[2017-10-17 13:49] #5 closed

[2017-10-17 13:54] j-fuentes commented on #5
Thank you so much!

[2018-01-23 11:40] dmarczydlo opened #8 "last row not displaying & follow not working"
I using react-lazylog into my project. To get data I using LazyStream. The problem is that last row is not displaying.

As I Investigated you using `position: absolute` for it. Last row has incorrect `top` attribute for position absolute.

Second problem is property `follow` - it's not working.

My code:
`<ScrollFollow startFollowing>
                    {({follow, onScroll}) => (

[2018-02-06 18:11] eliperelman commented on #8
I have refactored the codebase, and this may now be resolved. I have deployed an interactive styleguide, with a streaming/scrolling demo. You could put your URL in the demo by clicking "VIEW CODE" and pasting it there, and see if it works, and let me know if this still happens there?

https://mozilla-rpweb.github.io/react-lazylog/#scrollfollow

[2018-03-30 19:00] dmarczydlo opened #10 "Production errors"
I have problem with react-lazylog on production.
When I use UglifyJs I've got:

`ERROR in e5cf7b4c07bad8fabb92.js from UglifyJs
docker_loger    | Unexpected token: name (b) [e5cf7b4c07bad8fabb92.js:130961,1523]`

Also webpack 4.0 and webpack-dev-server": ^3.1.0 have the same problem.

[2018-03-30 19:19] eliperelman commented on #10
Unless you are using uglify-es, I don't think you can use the ES2015 version of this. Could you instead import the ES5 version?

[code]

[2018-03-30 19:36] dmarczydlo commented on #10
Nice. You had absolutely right.

[2018-03-30 19:36] #10 closed

[2018-03-30 19:37] dmarczydlo commented on #8
Still the same issue

[2018-04-09 17:35] dmarczydlo opened #11 "3.1.x - es5 problem"
After update lazy-logger to version 3.1.1 (from 2.x) the problem `Uncaught TypeError: e is not a function` still exist.

For 2.x `import { LazyLog } from 'react-lazylog/lib/LazyLog.es5';` worked but for 3.1.1 `import {LazyStream, ScrollFollow} from 'react-lazylog/es5';` generating error.

[2018-04-09 17:51] eliperelman commented on #11
@dmarczydlo do you have a reduced repo I can try this out on?

[2018-04-09 17:55] dmarczydlo commented on #11
Hm... you can use https://github.com/dmarczydlo/docker-logger/tree/greenkeeper/react-lazylog-3.1.3 (branch created by greenkeeper) but before compile you have to update /components/docker/docker.jsx from `import {LazyStream, ScrollFollow} from 'react-lazylog/lib/LazyLog.es5';` to syntax from last version

[2018-04-09 18:03] eliperelman commented on #11
@dmarczydlo there are a few other changes in the API which should be documented in the props. I tried out your repo and updated it to this and didn't see any of those ES5 errors, could you try it too?

[code]

[2018-04-09 18:12] dmarczydlo commented on #11
Yes but you `LazyLog` instead of `LazyStream`. How can I use `LazyLog` for stream GET?
And another question can I modify somehow `featchOptions` to send POST request?

[2018-04-10 05:45] dmarczydlo commented on #11
I'm not sure that LazyLog working correct.
Look at image below
![screenshot_20180410_073353](https://user-images.githubusercontent.com/26409082/38537973-f782d7be-3c91-11e8-8f7d-acae255f5105.png)

New rows overrides old. LazyLog looks like TextArea also. Can I change it to selecting row (like LazyStream worked)?

Also last row is still hidden.

[code]

[2018-04-10 11:47] eliperelman commented on #11
Wow, that looks really odd, almost like the style isn'y being applied. Can you update to the latest version and see if that fixes anything?

[2018-04-10 12:00] dmarczydlo commented on #11
Hm... As I think I using the latest version
[code]

[2018-04-12 05:38] dmarczydlo commented on #11
So I think that this issue existing in last version.

[2018-04-12 15:20] leuction opened #12 "Is there any way to do search for specific logs in the react-lazylog"
Thank you for your fantastic library. I want to do search for logs in this library. Because this library is built with react-virtualized. It seems that I cannot do search with the browser. I have not found any search api in the document. Could you give me a way to do search with that? Thanks.

[2018-04-12 15:58] eliperelman commented on #12
@leuction right now the component doesn't expose the raw data, but I think it should in order to do this. Would you be willing to submit a PR to make this possible? For example, I think that the `onLoad` prop should expose the raw response buffer. With that, you could implement a search, and I've done so in the past:

[code]

With the above search function, and if we had the UInt8Array exposed in

[2018-04-20 10:35] pesehr opened #13 "Highlight Error"
I've got this:

[code]

from line: 419 index.js
[code]

implementation:
[code]

[2018-05-04 14:38] stephenwilliams commented on #11
I see the same issue with the latest version.

[2018-05-04 14:43] eliperelman commented on #11
If you could produce a reduced test repo, that would be really helpful.

[2018-05-04 19:11] stephenwilliams commented on #11
I'll get a test repo setup by EoD Monday. Thanks for the work you've done on this project.

[2018-05-11 11:30] dmarczydlo commented on #11
@eliperelman  - as I saw you updated project to 2.2.0 version. What does it mean ? Did you reverse some features/props?

I want to update lazylog to last fine version but I'm confused which version is correct.

[2018-05-11 11:36] eliperelman commented on #11
@dmarczydlo apologies, I published #14 but didn't mean for it to be tagged as `latest`. I have re-tagged 3.1.3 as latest.

[2018-05-11 11:40] dmarczydlo commented on #11
So 3.1.3 should be latest also should work correctly?  I mean suggested problem in [here](https://github.com/mozilla-frontend-infra/react-lazylog/issues/11#issuecomment-379981120)

[2018-05-11 11:42] eliperelman commented on #11
Right, I just don't have any repo to replicate against in order to fix it.

[2018-05-11 11:45] dmarczydlo commented on #11
Ok I will check this version on weekend. If this problem will still existing I'll try to create repo for you.

[2018-05-18 13:57] stephenwilliams commented on #11
@eliperelman Sorry it took me much longer than I expected to have time to put together an example repo.

Here you go: https://github.com/stephenwilliams/react-lazylog-issue-11

[2018-05-22 17:13] eliperelman commented on #11
@dmarczydlo @stephenwilliams I didn't think you would need to do this, but could you manually import the CSS?

[code]

[2018-05-22 17:37] dmarczydlo commented on #11
@stephenwilliams  ```index.css``` not existing in 3.1.3

[2018-05-22 17:46] eliperelman commented on #11
I just pushed a patch version, could you try it again?

[2018-05-22 17:49] dmarczydlo commented on #11
where is this path? What branch?
Did you push to npm or only to github somewhere?

[2018-05-22 17:50] eliperelman commented on #11
Sorry, it's the latest on npm, 3.1.4.

[2018-05-22 18:00] dmarczydlo commented on #11
Hm.. ok this version have index.css. I'm not sure that I understood you but if want to test solution as import ```index.css``` manually - this approach not fix last line issue.

```react-lazylog``` is implemented in https://github.com/dmarczydlo/docker-logger/ master branch was updated to last version 3.1.3 few minutes ago.

[2018-05-22 19:36] stephenwilliams commented on #11
@eliperelman Updating to 3.1.4 and adding `import 'react-lazylog/es5/index.css';` fixed it for me

[2018-05-24 12:44] dmarczydlo commented on #11
@eliperelman do you working on last line issue?

[2018-05-26 09:14] Shemlevy opened #16 "Can i use strings instead of Stream URL?"
I have an array that updates from an API by getting a chunk of data, and I want to use lazylog to present it in separated lines, can I do that?

[2018-05-31 19:42] ndiaz-candido commented on #12
Hi! I've been working on a search feature for LazyLog. I forked the project and this is the PR in my fork https://github.com/ndiaz-candido/react-lazylog/pull/1

It's still on progress so I didn't want to open a PR to the original project.

I've used eliperelman's algorithm adding something more to get the lines based on the search indexes that the algorithm returns.

[2018-06-06 12:38] #16 closed

[2018-06-09 09:14] benjaminRomano opened #18 "onRowClick never gets triggered"
I'm working on typescript defintions for `react-lazylog` and noticed any inconsistency.

`Line` has an `onRowClick` property, which gets passed into `LineContent`'s `onClick` prop. **However**, `LineContent` does not have an `onClick` prop and therefore cannot be triggered.

https://github.com/mozilla-frontend-infra/react-lazylog/blob/master/src/components/Line/index.jsx#L76

https://github.com/mo

[2018-06-09 10:02] benjaminRomano commented on #18
Here is the typescript definitions PR fyi: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/26402

[2018-07-06 12:40] alde opened #19 "Collapse parts of the log"
Is it possible to collapse parts of the log output?

The logs I'm looking to view / stream with this contain a lot of junk data unfortunately, and I was hoping to be able to collapse it.

Basically what I'm aiming for is something like:

[code]

So if line 2 is collapsed, and line 3 should be collapsed, it gets lumped in with line 2:s group.

[2018-07-13 11:12] dmarczydlo commented on #8
@eliperelman any update for last row issue?

[2018-07-13 15:16] eliperelman commented on #8
There is a fix in the v2 release line, but it has not been ported to v3/master.

https://github.com/mozilla-frontend-infra/react-lazylog/commit/0d5df76cb50f75ab8c1940cf4b21e61fe932c7f5

Would you be interested in opening a PR with this?

[2018-07-16 05:02] dmarczydlo commented on #8
Hm.. sound's good. Yeah PR should be opened but I'm little confused. Which one is the latest? (I mean version)

[2018-09-19 17:08] ebuildy commented on #4
with latest version:

    import { LazyLog } from  'react-lazylog/es5';

[2018-09-25 07:27] ebuildy opened #21 "Horizontal scrolling not convenient"
When log have some long lines, the horizontal scroll bar is showing at the bottom, so we must scroll down to scroll hozirontaly.

Not really handy with ton of rows.

[2018-11-08 22:21] camd opened #22 "setting ``highlight`` to null does not remove visible highlight"
I found when I controlled the ``highlight`` prop via state, that once highlight has been set once, it is hard to remove.  I tried setting my ``state`` ``highlight`` value to ``null``, but the visible highlight remained.  I had to set it to ``-1`` for it to visibly show as not-highlighted.  Seems like ``null`` and ``undefined`` should remove highlighting.

[2018-11-12 16:04] edmorley opened #23 "Demo in docs failing with "NetworkError when attempting to fetch resource.""
The readme links to the demo in the docs, however it is currently failing to load (presumably since that Taskcluster log has since been expired):
https://mozilla-frontend-infra.github.io/react-lazylog/

It would be good to switch that to a longer-lived log resource (that's still a long enough log to show off the advantages of react-lazylog).

[2018-11-12 16:10] edmorley opened #24 "Unable to copy more than the text shown on-screen"
Treeherder has just switched from [unified-logviewer](https://github.com/taskcluster/unified-logviewer) to react-lazylog.

We've just had a regression bug filed:
https://bugzilla.mozilla.org/show_bug.cgi?id=1506627

Scroll up and down to lose the selection or hit Ctrl+C and try to paste it somewhere. The not visible part will be gone.

@eliperelman any ideas? I thought `react-lazylog` used a simil

[2018-11-16 16:38] #23 closed

[2018-11-20 13:53] helfi92 opened #27 "Update version of react-lazylog"
There's been a couple of new features since the last release, namely:

* https://github.com/mozilla-frontend-infra/react-lazylog/commit/4354d8385893a5b34b7e132a8ed81091132dbef1

* https://github.com/mozilla-frontend-infra/react-lazylog/commit/49f22dc2d9f7f18b819fb231864a3a75819453e9

We should publish a new version and update the gh-pages branch.

[2018-11-20 13:53] helfi92 commented on #27
@eliperelman Let me know if you want me to take care of that.

[2018-11-20 18:59] helfi92 commented on #27
Published in v3.2.0.

[2018-11-20 18:59] #27 closed

[2018-11-27 21:24] camd opened #28 "Horizontal scrolling disabled when ``containerStyle`` prop is set"
I had set the ``containerStyle`` prop on ``LazyLog`` to add a little margin at the bottom like so:

    <LazyLog
      containerStyle={{ marginBottom: '3em' }}
    />

And it worked well to add a little extra space at the bottom of the lines, when scrolled all the way to the bottom.  But it disabled horizontal scrolling.  So I had to set it to:

    containerStyle={{ marginBottom: '3em', overflow:

[2018-12-04 19:09] helfi92 commented on #28
The default props for `containerStyle` is defined in https://github.com/mozilla-frontend-infra/react-lazylog/blob/49f22dc2d9f7f18b819fb231864a3a75819453e9/src/components/LazyLog/index.jsx#L152-L156

Modifying `containerStyle` would no longer use the default props which is why scrolling doesn't work anymore. I would just do:

[code]

[code]

[2018-12-13 13:35] SimonSapin opened #29 "Support ANSI sequences "Control Sequence Cursor Up" and "Control Sequence Erase in Line""
This log file looks very mangled: https://tools.taskcluster.net/groups/Ya07T4ynTi6aZNRH9WdQ0Q/tasks/TIBI4C7bRzW6jvQXn980gg/runs/0/logs/public%2Flogs%2Flive.log#L394648

As far as I understand, this is because it contains byte sequences like (in JS string syntax) `"\x1B[A\x1B[K"` which seem not to be interpreted in the same way that a terminal emulator does. Could this be fixed in this library?

[2019-01-23 20:43] camd commented on #21
I'm hitting this, too.  On a mac with trackpad, you can two-finger drag to scroll right.  I think on windows you can click and drag, perhaps?  But having the horizontal scrollbar visible would help this a lot.

[2019-01-23 20:49] helfi92 commented on #21
Give the following a try:

[code]

[2019-01-23 20:51] helfi92 commented on #21
Let me know if it works for you. I can create a PR to bring this fix upstream.

[2019-01-29 12:29] scherler opened #30 "OverflowX should be sticky on bottom of the parent div"
When viewing the log a horizontal scrollbar is viewable in the middle of the log view when the logs are small but if the logs are long the bar is hidden until scrolled to the bottom

See Screenshots:

small logs:
![screenshot from 2019-01-29 13-21-45](https://user-images.githubusercontent.com/596701/51908303-c0b50c00-23c9-11e9-8bd0-3717a3c10f68.png)

big logs:
no scrollbar visible
![screenshot fro

[2019-01-30 10:45] scherler commented on #30
[code]

Fixes that.

[2019-01-30 10:45] #30 closed

[2019-02-11 22:17] camd commented on #21
@helfi92 : When I made these settings, I wasn't able to scroll horizontally at all anymore, even with the trackpad 2-finger scroll.  My component is defined with the ``containerStyle`` above and:

              <LazyLog
                url={rawLogUrl}
                stream
                scrollToLine={highlight ? highlight[0] : 0}
                highlight={highlight}
                selectableL

[2019-02-11 22:20] camd commented on #21
FWIW: If I set ``overflow: 'scroll'`` instead, then I can scroll both vertically and horizontally.  But the horizontal scrollbar scrolls off-screen when you scroll vertically.  So it would seem that horizontal scrolling is handled by one container, which is contained by the one that handles vertical scrolling?

[2019-02-12 16:44] helfi92 commented on #21
@camd, could you point me to the code in treeherder? I'll give it a try on my machine.

[2019-02-12 16:49] camd commented on #21
Sure, thanks!  Here you go:  https://github.com/mozilla/treeherder/blob/3c02823ea886a55e06e1e25aff42173f71a7a273/ui/logviewer/App.jsx#L232

With the repo downloaded, just a ``yarn && yarn start`` will get it going for you.  Thanks again.  :)

[2019-02-12 22:48] camd commented on #24
I'm just chiming in here since I'll own the TH bug for this going forward.  Thanks for any help you can provide.

[2019-02-12 23:07] karlht commented on #24
Thanks, @camd.  @eliperelman, any thoughts on this at all?

[2019-02-13 14:06] helfi92 commented on #21
@camd

With

[code]

I was able to scroll horizontally. For example, clicking on the mouse wheel shows:

![screen shot 2019-02-13 at 9 01 17 am](https://user-images.githubusercontent.com/3766511/52717008-14992680-2f6e-11e9-833d-5b171e4921e6.png)

Note the all direction scrolling will only work when the visible text is long. When the visible text does not overflow, the scroll will only work vertica

[2019-02-13 17:16] camd commented on #21
@helfi92 : Yeah, horizontal scrolling is possible.  The issue is that the scrollbar is not visible, so I think that's confusing for some folks.

[2019-02-13 18:36] helfi92 commented on #21
You probably don't want to have a scroller that changes width while scrolling down (since the scroller width will vary with the current visible text and in some cases there won't be any scroller if all visible text fits in the screen). That would affect the UX imo.

[2019-02-13 19:53] camd commented on #21
That's a fair point.  OK.  So I suppose this is likely a WONTFIX, by Bugzilla nomenclature.

[2019-02-13 20:03] whimboo commented on #21
For me it's a huge draw back, given that the mouse only allows to scroll vertically. By having no scrollbar I have to click and move right, which would select the underlying text.

[2019-02-19 17:11] karlht commented on #24
@helfi92 Can you possibly weigh in here?

[2019-02-22 18:25] camd commented on #24
I can reproduce this.  It seems it'll only copy the displayed lines that are selected.  I suspect it removes the react elements, so there is no true "text" that is selected beyond the bounds of the visible space.  I don't know if overscanning the loaded rows of ``react-lazylog`` would help.  But it would only mitigate it to the threshold of the overscan, if it did.

[2019-02-22 18:32] helfi92 commented on #24
Adding an `overscanCount` prop sounds like a good idea :)

[2019-02-22 18:43] helfi92 commented on #24
Wow, it turns out you can actually already do that. Internally, react-lazylog [uses the List component](https://github.com/mozilla-frontend-infra/react-lazylog/blob/49f22dc2d9f7f18b819fb231864a3a75819453e9/src/components/LazyLog/index.jsx#L12) from [`react-virtualized`](https://github.com/bvaughn/react-virtualized/blob/master/docs/List.md) and the latter seems to expose an `overscanRowCount` prop.

[2019-02-22 18:46] helfi92 commented on #24
Right. There's always a trade-off to make. You can try setting the prop to something like 50 or 100 and try to see if performance is still ok.

[2019-03-03 15:07] helfi92 commented on #24
It turns out `react-lazylog` sets the default `overscanRowCount` to 100. You'll want to increase that number.

[2019-03-22 08:02] whimboo commented on #24
@camd is that something we could at least increase for now, even if it is not the final solution. Being able to c&p text which is 5 screens large would be very helpful.

[2019-04-03 21:57] camd commented on #24
This didn't work for me.  I tried increasing the ``overscanRowCount`` to 1000.  Then when I selected line 50-60 and scrolled that just out of view, then back into view, nothing was selected.  Other times when I selected from line 100 and scrolled down with the mouse button down, it selected maybe 100 lines.  But when I scroll back up, the lines BEFORE 100 were selected.

I'm not able to get any ki

[2019-04-04 06:59] whimboo commented on #24
This would be a huge annoyance factor given that raw logs are huge and additionally take a while to load. Including that you first have to search for the given line. I hope that we can get this fixed in the log viewer!

[2019-04-16 14:21] utkarsh447 opened #31 "Render complete log file after every "n" seconds"
Hi, I have gone through your documentation but i couldn't find a solution which loads contents from log file after every `n seconds` and displays it.

### Scenario
I have a `url` which returns my desired `log file` content and is updating randomly. <br />
I want `react-lazylog` to have a timer which fetches data from the target `url` and updates the log file content after every `n` period of time.

[2019-04-16 17:57] helfi92 commented on #31
In react, if the `key` prop changes, it will re-render the component. You can have a timer that changes the `key` prop which would subsequently re-fetch data from the target `url`.

[2019-04-16 17:57] #31 closed

[2019-04-16 19:40] utkarsh447 commented on #31
Thank You, It worked as expected.

[2019-04-16 20:25] helfi92 commented on #31
You're welcome :)

[2019-05-17 03:43] brandon-fryslie opened #33 "Is there a way to use this component for local data? e.g., a list of log messages?"
I would like to use this component to render status/error logs in my application.  The React application will be generating these messages itself based on Websocket messages, errors, or other events.  When there's an error, a message will be added to an array somewhere.

Is there a way I can pass the array to the LazyLog component instead of using a URL?  Is there a similar component I could use t

[2019-05-21 05:57] yevgenypats opened #34 "3.2.4 - es5 error"
Looks a similar problem to [https://github.com/mozilla-frontend-infra/react-lazylog/issues/11](https://github.com/mozilla-frontend-infra/react-lazylog/issues/11)

The error was fixed in 3.1.4 using the css import but now it is back in 3.2.4 with a bit different error.

Uncaught TypeError: r.n is not a function

I guess this also somekind of API change.

Cheers

[2019-05-21 13:19] helfi92 commented on #34
Hi @yevgenypats,

I tried it using

[code]

but that worked for me. If you could produce a reduced test repo, that would be really helpful. Feel free to use something like https://codepen.io/ if that's easier for you.

The latest release is `3.2.1`. `3.2.4` shouldn't exist. https://github.com/mozilla-frontend-infra/react-lazylog/releases.

[2019-05-21 13:41] helfi92 commented on #33
Not at the moment, unfortunately. Happy to accept a PR.

[2019-05-27 14:12] #34 closed

[2019-05-27 14:13] #28 closed

[2019-05-27 14:15] helfi92 commented on #12
Published in v3.3.0. Resolved in https://github.com/mozilla-frontend-infra/react-lazylog/commit/e8951828d6ac4e94d0592b501921de73ced4d990.

[2019-05-27 14:15] #12 closed

[2019-05-29 23:07] helfi92 commented on #34
Give `v4.0.0` a try. It's a breaking change but will hopefully fix the issue.

Breaking change:

[code]

[2019-06-07 19:47] mikeatlas commented on #23
any chance a demo of this can be re-visited?

[2019-06-14 16:05] charlesverge commented on #33
@brandon-fryslie This might be something to start with https://github.com/mozilla-frontend-infra/react-lazylog/pull/37

[2019-06-16 16:31] helfi92 commented on #23
@mikeatlas I'm not sure I understand. Could you elaborate, please? fwiw, The demo logs are working for me:
* https://mozilla-frontend-infra.github.io/react-lazylog/#lazylog
* https://mozilla-frontend-infra.github.io/react-lazylog/#scrollfollow

[2019-06-17 15:06] mikeatlas commented on #23
I'm not sure what I was missing before. Looks great now. Thanks!

[2019-07-07 00:32] ausrasul opened #40 "Lazylog onScroll prop does not exist, makes ScrollFollow useless"
According to the documentation, ScrollFollow should be used like this:
[code]

Where onScroll prop of LazyLog should trigger upon user scrolling.
However this prop does not exist either in the code nor documentation of Lazylog component.

This is true even in the [demo and documentation](https://mozilla-frontend-infra.github.io/react-lazylog/#scrollfollow) page:

The "follow" is not stopped when I

[2019-07-07 13:16] helfi92 commented on #40
From https://github.com/mozilla-frontend-infra/react-lazylog#lazylog-:

"In addition to the props listed for LazyLog, most of the properties available to [react-virtualized List](https://github.com/bvaughn/react-virtualized/blob/master/docs/List.md) can be provided and will be passed through to the component"

You would need to set the `follow` prop to `false` if you want to stop following. The de

[2019-07-07 14:57] ausrasul commented on #40
If I add a logic to set the "follow" prop based on onScroll event, what is the reason to use ScrollFollow component?
I could set the follow prop to the LazyLog component directly.

Am I missing something?

[2019-07-07 18:26] helfi92 commented on #40
ScrollFollow takes care of the `follow` prop for you instead of handling the state on your own.

Now that I think about it, I think this is a bug in the `ScrollFollow` component :(

[2019-07-07 18:27] helfi92 commented on #40
I would be happy to accept a PR if you're interested.

[2019-07-07 21:44] ausrasul commented on #40
I'll give it a try!

[2019-07-08 20:37] ausrasul commented on #40
Ok, a PR is sent.

I also added a feature that resumes following if the user scrolls all the way down and the "startFollowing" prop is set. Just like in a terminal.
Let me know if you want it removed.

[2019-07-11 15:06] helfi92 commented on #40
Thanks for the PR :) I will review it as soon as I get a chance. Hope that's ok.

[2019-07-24 13:01] maxfouquet opened #46 "ReferenceError: self is not defined"
Hi,

I've the following stacktrace using lazylog component with Next.js and TypeScript support :

[code]

Reproduced with:
- v3.0.0
- v4.0.0
- v4.2.0

React component:

[code]

Any idea ?

[2019-07-27 13:41] qintarp opened #48 "Adding caseInsensitive option to LazyLog"
This is related to https://github.com/taskcluster/taskcluster/issues/1002 .

[2019-07-27 14:26] qintarp commented on #48
I was pushing this because I assumed the related issue was stalled, closing this because I realized it is not.

[2019-07-31 16:09] arshadkazmi42 commented on #48
@qintarp #47 is merged. I think we can close this now

[2019-08-02 05:38] #48 closed

[2019-08-06 06:28] IBM-lily opened #50 "when url return only one line without \n it display no content"
when use this component with url return a string without line break \n, it display 'No content', please help to check it, thanks very much!

[2019-08-06 15:31] helfi92 commented on #50
Do you have a `url` I can use to reproduce this issue?

[2019-08-07 00:40] IBM-lily commented on #50
sorry about it, I just use local API to get the data from database.
This filed is 'text' in data table like below:
"stderr": "status code: 403, reason phrase: Forbidden"

<LazyLog  url={urlErr}  fetchOptions={options} follow={true}/>
With API (urlErr) to get this filed, it return 'No Content'

update log set stderr=E'status code: 403, reason phrase: Forbidden \n'
then it returns the data correctly

[2019-09-04 01:29] darewreck54 opened #55 "Does FetchOptions work?"
From looking at the code, LazyLog has a property called fetchOptions.  I wanted to use it so that I could turn off the compression in the request via Accept-Encoding header.  However, setting the fetchOptions doesn't seem to have any effect.

without any specified fetchOptions, the LazyLog will do a fetch command with the following options:

'accept-encoding: gzip, deflate, br'

which is not what

[2019-09-06 18:59] darewreck54 opened #56 "Question about LogViewer and breaking it into columns?"
This is more of a question than anything.  I have a file with timestamps that match line to line with the log files.  Is it possible to break the log viewer into two columns one of the time stamps and the other for the content.  Then the user can toggle the timestamp.

Thanks,
Derek

[2019-09-10 13:28] helfi92 commented on #56
I would say that would be possible once we allow feeding text instead of a url to the logviewer. You would be able to do any kind of pre-processing prior to feeding the text to the log viewer.

[2019-10-10 06:43] timdudman commented on #21
This works except when the lines haven't yet reached the bottom of the screen. Is there any workaround for that?

[2019-10-14 06:51] timdudman opened #57 "ANSI escape codes not parsed correctly"
When colouring log text with ANSI escape codes, react-lazylog displays the escape code instead of parsing it.

A simple example of an ANSI-escaped log can be found here: https://gist.githubusercontent.com/timdudman/b84de8147a6d7301554ec22a9993c8b8/raw/bfb35ead64dba8788b5d7f609f9ee1e0cd6f377a/ansi.log

[code]

**INFO** should be coloured blue, and **WARNING** should be coloured red. Passing these l

[2019-10-21 14:16] timdudman commented on #57
Looks like this was an issue encoding ANSI codes from Java.

[2019-10-21 14:16] #57 closed

[2019-10-21 15:26] helfi92 commented on #57
@timdudman Works now?

[2019-10-22 06:19] timdudman commented on #57
Yes - **\x1b** is the Javascript encoding for escape. The log was served from Java so needed **(char)27** encoded in the string as the escape sequence. When I debugged I didn't see the double **\** you mentioned seeing, but the problem has been fixed by changing the Java code that decorates the log before serving it.

[2019-10-22 13:00] helfi92 commented on #57
Ah, awesome. Thanks for the update!

[2019-11-19 13:52] logvi commented on #8
any news about fixing it?

[2019-11-19 18:50] helfi92 commented on #8
Regarding "last row not displaying", this was fixed a while ago. You can use the [`extraLines`](https://mozilla-frontend-infra.github.io/react-lazylog/#lazylog) prop.

[code]

Regarding "follow not working", this should also be working. See the demo for an example.

[2019-11-19 18:50] #8 closed

[2019-11-20 02:29] kunyan commented on #50
I found same issue, you could using this url to reproduce the issue

https://gist.githubusercontent.com/kunyan/69a9cef8b6922ac32480496dcc7f9a40/raw/2941f5365bab6ba8a84e061742c700f89c44d13a/data.log

It will display like

<img width="1126" alt="Screen Shot 2019-11-20 at 10 29 28 AM" src="https://user-images.githubusercontent.com/752130/69203957-aa5a8580-0b80-11ea-8e32-21415442fdf6.png">

[2019-11-21 01:54] kunyan commented on #50
I think this part should be rewrite
https://github.com/mozilla-frontend-infra/react-lazylog/blob/master/src/components/LazyLog/index.jsx#L634,L644

for some few lines output. the height will incorrect

The `calculateListHeight` could be

[code]

[2019-11-21 06:49] d1y commented on #46
I also encountered this problem, very strange

[2019-11-22 14:46] #50 closed

[2019-11-22 14:48] helfi92 commented on #50
Fixed in react-lazylog@4.4.2 🎉

[2019-11-22 15:40] helfi92 commented on #21
@timdudman, this has been resolved in react-lazylog@4.4.3.

![Screen Shot 2019-11-22 at 10 38 17 AM](https://user-images.githubusercontent.com/3766511/69439074-381aaa00-0d14-11ea-8fd5-983ad1b66ac9.png)

@camd If you update to the latest version, then you don't need to use the `containerStyle` hack from https://github.com/mozilla-frontend-infra/react-lazylog/issues/21#issuecomment-463211264

[2019-12-04 13:48] helfi92 commented on #33
The latest version of react-lazylog has a `text` prop that allows reading from text instead of a url as well as has the capability to get input from a websocket.

[2019-12-04 13:48] #33 closed

[2019-12-04 13:48] #21 closed

[2019-12-05 08:06] timdudman commented on #21
Looks good @helfi92.

[2019-12-12 16:35] tomscholz opened #66 "Displaying stacktraces / multiline log lines"
Hello there 👋,
first of all thanks for creating and maintaining this library. It rocks!

I do have a problem/question though: The logfiles im passing to `react-lazylog`, often do have stack-traces and therefore line breaks in them. Is there a way to parse `\n` as a line break and automatically adjust the line height of the LogLine? If not, would the team be interested in such a feature?

Example l

[2019-12-16 20:04] helfi92 commented on #56
The latest version of react-lazylog allows feeding text via the `text` prop which should allow pre-processing the data before feeding it to the component.

[2019-12-16 20:04] #56 closed

[2019-12-16 20:08] helfi92 commented on #66
You could use the `text` prop to pre-process the input then feed it to the log. Hope that helps.

[2019-12-17 14:05] rmccue opened #67 "Dynamic classes for each line"
We'd like to style stderr output differently for the entire line, which would be easiest to achieve by allowing `lineClassName` to be a callback which receives the content of that line. The `formatPart` callback almost achieves this, but it only affects the line's content, not the whole line.

This could also be used for line highlighting, allowing the Line components to not care about highlightin

[2019-12-19 14:49] frankforpresident opened #68 "text prop adds instead of replace"
I've made a view to display logging on a page from multiple pages. LazyLog is exactly what I need except it appends data instead of replacing it when provided as text.
 Useage:
`<LazyLog extraLines={0} enableSearch text={logging} caseInsensitive follow={follow} />`

Currently I'm in control of the data that is provided to my components. Since it is possible to view multiple logging files, the data

[2019-12-19 15:26] frankforpresident commented on #68
I found a workaround for this issue but it will break the ability to search.

`
 const Logger = () => <LazyLog extraLines={0} enableSearch text={logging} caseInsensitive follow={follow} />;
  return (
    <div id="logViewContainer" className={styles.content}>
      <Logger />
    </div>
  );
`

[2019-12-20 14:22] helfi92 commented on #68
👋

The LazyLog component should render whatever you give it in `text`. Are you saying that when `text` changes, it is appending instead of replace the full text? If this is the case, then that's probably a bug.

[2019-12-30 18:34] frankforpresident commented on #68
@helfi92

Is this issue fixed with 4.5.1?

[2019-12-30 18:46] helfi92 commented on #68
I wasn't able to reproduce the error using https://mozilla-frontend-infra.github.io/react-lazylog/#lazylog under the "Log viewing using text from a string :" section. Happy to re-open if this is still an issue. Any chance you could provide a codepen example for me to reproduce this issue?

[2019-12-30 18:50] frankforpresident commented on #68
Sure, will do this next week

[2019-12-30 19:41] helfi92 commented on #68
Sounds good, thanks!

[2020-01-26 01:42] digvan commented on #46
same here

[2020-01-29 08:19] helfi92 commented on #46
Interesting. Is it possible that `self` is not defined in Typescript?

[2020-02-03 09:54] aca commented on #55
Experienced the same. Any updates?

[2020-02-09 08:10] danwt opened #70 "Wrap text"
Is there any way to wrap the text?

Thank you.

[2020-02-10 15:15] helfi92 commented on #55
It should work. If it doesn't, do you mind creating a [codesandbox

[2020-02-10 16:08] helfi92 commented on #70
Unfortunately, not right now. I think adding this feature would make it hard to jump to a specific line now that each line does not have a fixed height. Feel free to look into it if you're interested to tackle this issue.

[2020-02-10 16:08] #70 closed

[2020-02-14 12:20] ffMathy opened #71 "Word wrapping"
Word-wrapping of lines would be super nice.

[2020-02-14 13:36] helfi92 commented on #71
I think adding this feature would make it hard to jump to a specific line now that each line does not have a fixed height but I could be wrong. PRs are welcome :)

[2020-02-14 14:08] ffMathy commented on #71
I'm willing to sacrifice that functionality for this feature.

I just want to display logs, not be able to search or jump around.

[2020-02-14 19:58] helfi92 commented on #71
Fair enough. We should make this explicit in the docs when adding this feature so that users are aware of this.

[2020-03-03 17:00] bingle87 opened #72 "How do you add line click listener?"
I am using LazyLog as follows:

`<LazyLog
                    enableSearch
                    selectableLines
                    caseInsensitive
                    url={this.props.url}
                    scrollToLine={Number(this.props.lineNumber)+5}
                    highlight={Number(this.props.lineNumber)}
                    onClick={() => {debugger}}

                    <Line onRowClic

[2020-03-06 06:35] dartess opened #73 "Search regular expression support"
Is it possible?

[2020-03-06 15:55] helfi92 commented on #73
Not at the moment. PR happily accepted.

[2020-03-22 09:24] liorbd commented on #68
Hey @helfi92. I've also encountered this issue. When i update the `text` prop, the new value appended to the previous one.
There is a codesandbox with small example:
https://codesandbox.io/s/react-lazylog-yd22x.
If it's a Bug, can you please re open this issue?

[2020-03-23 11:57] helfi92 commented on #68
Thanks for setting up the demo. I can replicate. This is a bug.

[2020-03-23 12:30] helfi92 commented on #68
@liorbd Does https://github.com/mozilla-frontend-infra/react-lazylog/pull/74 look good to you?

[2020-03-23 13:52] liorbd commented on #68
@helfi92 i would do something like:
https://github.com/mozilla-frontend-infra/react-lazylog/pull/75/files
To enable replacing the line from other places.
Thanks!

[2020-03-24 20:59] liorbd commented on #72
@bingle87 Currently you cannot provide `onRowClick` to the `<LazyLog />` component, And also cannot provide children to it.
@helfi92 what do you think about adding `onRowClick` prop?
I'll be happy to open PR for that.

[2020-03-30 11:35] helfi92 commented on #68
Fixed in react-lazylog@4.5.2. Thank you @liorbd 💯

[2020-03-30 11:35] #68 closed

[2020-03-30 11:47] helfi92 commented on #72
Could you use the `onHighlight` prop that we expose on the LazyLog component to do what you are trying to do?

[2020-05-03 12:38] sourcec0de commented on #46
@maxfouquet did you ever figure out what happened?
I just ran into this exact issue trying to run lazylog with next and typescript.

[2020-05-03 12:57] sourcec0de commented on #46
In case anyone comes across this again.
If you're trying to use this with an SSR tool like nextjs this component must be rendered server-side.

I solved this by using [dynamic imports](https://nextjs.org/docs/advanced-features/dynamic-import).

[2020-05-06 10:45] shmidt-i commented on #46
Solved via `React.lazy`, but if somebody can look into it, would be cool!
Env: Typescript + react-scripts (create-react-app)

[code]

[2020-05-19 13:11] saichaitanyaeruvaram opened #76 "Keep only latest 1000 lines"
I am using LazyLog with websocket.

**Current Behavior**:  All the messages are retained.

Please let me know how to keep only latest 1000 lines.

Any references/samples will be helpful.

[2020-05-20 13:14] helfi92 commented on #76
This is not currently supported. What is your use case for that?

[2020-05-21 06:06] saichaitanyaeruvaram commented on #76
**Environment:** NodeJs Server and ReactJs Client

After client connects with server, server constantly sends log messages via websocket.

**Client can be open forever in my case**
I've observed the client tab memory keeps increasing overtime  (> 1 GB) and after some point > 20k lines, lazylog view becomes stuck and recovers after few seconds

For my use case, I just need to retain latest 1000 (co

[2020-05-21 06:34] saichaitanyaeruvaram opened #77 "yarn command failed"
<img width="1153" alt="lazylog" src="https://user-images.githubusercontent.com/10721851/82530582-4464b000-9b5b-11ea-9721-92910d74eb33.PNG">

OS: Windows 10
NodjeJs: 12.14
NPM: 6.13.4
Yarn: 1.22.4

Kindly let me know any dependencies/versions.

[2020-05-21 12:55] helfi92 commented on #76
That would be considered a bug which should get fixed. The log viewer is virtualized so only what is currently on the screen is loaded. Anything above/under the viewable screen should not be loaded in the DOM. If you can create a code sandbox (similar to https://github.com/mozilla-frontend-infra/react-lazylog/issues/68#issuecomment-602170094) then it would be easy to look into it. Thanks!

[2020-05-21 13:04] helfi92 commented on #77
I've never seen this error. I am running macOS so perhaps this is windows specific. Could you try removing your node_modules directory and trying again to see if that fixes it?

[code]

[2020-05-21 15:24] saichaitanyaeruvaram commented on #77
It a fresh clone of the repo.
Removed the node_modules directory and still the same error.

[2020-05-21 15:27] saichaitanyaeruvaram commented on #76
https://codesandbox.io/s/react-lazylog-jtl73?file=/src/App.js

<img width="1920" alt="lazylog_taskmanager" src="https://user-images.githubusercontent.com/10721851/82575100-a34f1700-9ba5-11ea-8a7d-36af5f4c8a08.png">

[2020-06-05 15:32] camd opened #78 "Is there a way to add objects to the search bar?"
I'll like to be able to add some `HTML` to the search bar to add a few buttons.  Since there's lots of screen real-estate on the left side, this would be handy placement.

Perhaps via `children`?

[2020-06-08 12:44] helfi92 commented on #78
Hey @camd. There isn't a well defined way to do this right now. In firefoxci, we add a couple buttons via css with position `absolute`. https://firefox-ci-tc.services.mozilla.com/tasks/dKSj47r1QGmIKZJJyFjEIQ/runs/0/logs/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FdKSj47r1QGmIKZJJyFjEIQ%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log.

If this is not good enough f

[2020-06-22 21:18] SuyashSalampuria opened #80 "Change the background color of the top navbar"
I want to change the color of the top navbar of the react lazy log
![Screenshot from 2020-06-23 02-47-06](https://user-images.githubusercontent.com/44131389/85336205-de719c80-b4fb-11ea-968a-bd06231816d4.png)

I tried using the  prop style and the container style but they did not work for me. Is there a way to do it.

[2020-06-24 06:39] SuyashSalampuria opened #81 "[BUG] Search bar searches within the log even when it is empty"
Even when there is no text present in the search bar, it searches within the log. And if the filter button(those four horizontal lines) is  active, it does not show any log with message ```No filter results```. In my opinion, search should not be performed when the searchbar is empty

[2020-06-25 18:03] #80 closed

[2020-06-25 20:19] #55 closed

[2020-06-25 20:21] helfi92 commented on #81
It will only search if the filter is active. By default, the search is not set. You can see this in the demo component in https://mozilla-frontend-infra.github.io/react-lazylog/#lazylog.

[2020-06-25 20:23] helfi92 commented on #81
If the search is triggered only on an empty log then that would be a bug.

[2020-06-25 20:35] SuyashSalampuria commented on #81
Oh!
I got that @helfi92
Also, I notice that any  formatting done using formatPart props is log is removed when the search filter is done
Is that a bug or some expected behaviour @helfi92
If I want to do that formatting in my code when search is  performed
How is it possible

[2020-06-28 14:02] SuyashSalampuria opened #82 "[BUG] Upon searching in the searchbar, the formatting done to the log using formatPart is removed"
I have added colors based on conditions to each log line to log. On searching anything from the searchbar, these colors are lost and are restored when the search text is removed

[2020-06-29 13:48] helfi92 commented on #81
@SuyashSalampuria I'm not sure I understand. Do you have steps I can do to reproduce your issue?

[2020-06-29 15:41] SuyashSalampuria commented on #81
I have added a new issue for it @helfi92
I have added colors based on conditions to each log line to log. On searching anything from the searchbar, these colors are lost and are restored when the search text is removed
I don't expect the colors to be lost
Could you please answer it at any place

For reproducing it
Add colors to the individual log-lines  using formatPart(prop)
Now type something fr

[2020-07-04 22:05] arch-DJ opened #83 "What is the simplest way to enable word wrap?"
I would like to enable word wrap so that there is no need to do horizontal scrolling.
I tried to add css class to **lineClassName** with **word-wrap** property set to **break-word**.
Unfortunately, this did not work.

[2020-07-23 16:04] helfi92 commented on #83
Hey. We make sure every row has a fixed height to allow us to have the feature of jumping to line numbers. Allowing word wrapping would, i think, make it hard to do.

[2020-07-28 22:56] fzxt opened #86 "Debounce on search input?"
Unless I'm missing something, it seems like right now it's searching on every keystroke:

https://github.com/mozilla-frontend-infra/react-lazylog/blob/master/src/components/SearchBar/index.jsx#L60-L63

Any chance we could expose an option to debounce user input on the search bar? I.e., only search until after the user has stopped typing?

[2020-07-30 13:35] helfi92 commented on #86
The current implementation will start searching once the user has typed 2 characters.

https://github.com/mozilla-frontend-infra/react-lazylog/blob/962d294b18dd657a0c84ab05062a6bd8339c8180/src/components/LazyLog/index.jsx#L483-L485

Adding an optional debounce option makes sense to me. PRs are welcome.

[2020-07-30 20:31] fzxt commented on #86
i'll try taking this on -- thanks!

[2020-08-06 22:17] jfoliveira opened #89 "How to use react-lazylog with babel-7/corejs-3 + TypeScript?"
Hi,

Any advice on how to use `react-lazylog` in projects with `babel@7` and `core-js@3`?

After a day spent on some research, I found out that the root cause seems to be this issue in the `react-virtualized` repository:
https://github.com/bvaughn/react-virtualized/issues/1373
I tried many (if not all of) the workarounds suggested in the above issue with no luck.

I'm trying to get started using `

[2020-08-07 12:27] helfi92 commented on #89
Interesting. It looks like the issue surfaces when corejs-3 is installed. A temporary fix might be to install a v2 version of `core-js` until the issue is fixed upstream.

[2020-08-12 05:57] SinCheung opened #90 "[Bug]: log viewer shaking..."
When using the mouse to quickly scroll to the bottom, because the width of a row above is larger than the actual width, the view as shown in the figure below keeps shaking:
![111](https://user-images.githubusercontent.com/3352888/89979851-409c8180-dca3-11ea-86cf-7925841be5bb.gif)

[2020-08-14 12:38] helfi92 commented on #90
Weird. I can't seem to replicate when scrolling quickly to the bottom using https://firefox-ci-tc.services.mozilla.com/tasks/dfnBQoBMQw2QMeqgcbZGpw/runs/0/logs/https%3A%2F%2Ffirefox-ci-tc.services.mozilla.com%2Fapi%2Fqueue%2Fv1%2Ftask%2FdfnBQoBMQw2QMeqgcbZGpw%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log for example. If you can help me replicate, that would be appreciated.

[2020-08-14 14:23] SinCheung commented on #90
If there is no x-axis slideable in the current bottom display area, but there is a slideable row above, use the mouse to quickly slide multiple times to trigger, 100% hit.

[2020-08-14 14:28] SinCheung commented on #90
If there is no x-axis to slide in the current display area, but there is a row on the top that can slide, use the mouse to quickly slide multiple times to trigger, 100% hit.

In the log example you provided, all areas are slidable on both the x-axis and y-axis, and there are no rows where part of the x-axis can not slide and some of the x-axis can slide, so this bug will not be triggered.

[2020-08-17 13:28] helfi92 commented on #90
Do you have a log URL I can use to try this?

[2020-08-19 09:13] SinCheung commented on #90
![ezgif-4-a7ae91318b67](https://user-images.githubusercontent.com/3352888/90615842-3815ef00-e23f-11ea-806b-e21afb4d4dc0.gif)

I now set the width and height of lazylog to 1466*200, and the detailed log is as follows:
[code]

[2020-08-19 12:37] helfi92 commented on #90
Hm, still not able to replicate after doing:

<img width="817" alt="Screen Shot 2020-08-19 at 8 35 36 AM" src="https://user-images.githubusercontent.com/3766511/90635292-feb99100-e1f6-11ea-98a2-7f5c43cf5cc0.png">

Do you mind trying to set up a codesandbox using https://codesandbox.io/s/new? Maybe that would be better.

[2020-08-20 02:14] SinCheung commented on #90
https://codesandbox.io/s/sharp-tdd-ob9z7?file=/src/App.js:6601-6751
The display effect is as follows:
![log-shaking](https://user-images.githubusercontent.com/3352888/90709620-3267ea00-e2cf-11ea-8bd8-798126537124.gif)

[2020-09-07 18:33] x0152 opened #93 "[BUG] error uncaught error: invalid offset NaN specified"
Hi
I've noticed strange behavior. If lazylog's parent container have style <code>height: 100%</code> and doesn't have other elements then It will fail with error: error uncaught error:
invalid offset NaN specified

Example:
[code]

![image](https://user-images.githubusercontent.com/45021974/92411744-cbad5200-f151-11ea-9ef7-2553119a7319.png)
https://github.com/tiburon-security/jupyterlab_scheduler/

[2020-11-16 10:46] descalzi commented on #40
am also interested in this fix when it becomes available. Thx

[2020-11-18 10:52] andrey-semin commented on #24
any updates on this one?

[2020-11-22 10:07] IamTugy opened #96 "formatPart does not pass to searchFormatPart"
called "formatPart" and not "nextFormatPart".

[2020-12-15 02:23] jiachaosun commented on #90
I have the same problem but only happens in Chrome on win10

[2020-12-23 15:27] nbarrett opened #100 "infinite loop when changing state in onHighlight event"
Hi @helfi92 - I'm using the `ScrollFollow` HOC for log viewing in one of my react applications and it's working great so thanks for the great library. 👍

In my app, I want to be able to do is to update the url with the currently selected line number like in [your example](https://firefox-ci-tc.services.mozilla.com/tasks/dKSj47r1QGmIKZJJyFjEIQ/runs/0/logs/https%3A%2F%2Ffirefox-ci-tc.services.mozill

[2020-12-24 19:22] TheAksh opened #101 "MIT License"
This is a great piece of work we would want to leverage at our company: Amazon. However, we have an internal npm repository and the requirement is that libraries have an MIT license. Would you be willing to change the license to an MIT license?

[2020-12-29 11:58] simida0852 opened #102 "Couldn't find any versions for "react-lazylog" that matches "4.5.3""
Hello, I seem to have encountered some problems. Can you help me see it? thank you very much.
I can’t choose the version 4.5.3 in my terminal, but this version has been released on npm.

os: macOS big sur
node: v12.10.0
npm: v6.10.3

![image](https://user-images.githubusercontent.com/12591108/103282244-2116b300-4a10-11eb-93c4-09fd997725e8.png)

[2021-01-10 21:05] timjonesdev commented on #93
I'm also seeing this error, and I haven't been able to get it to work even setting the container height to a static value. It was working previously, and I've tried different versions of both lazy log and react-virtualized to see if I can pinpoint when it's introduced. Any additional insight or help from the maintainers would be greatly appreciated.

[2021-01-11 16:44] timjonesdev commented on #93
I saw this error as well, and I found that it was a problem with my data feed. So, again, user error.

[2021-01-14 08:56] slumbering commented on #78
This functionality would be very appreciated :).

Many thanks for the work you've done

[2021-01-25 15:29] fabdrol opened #103 "Invalid offset NaN specified when using "text""
Using version: ^4.5.3

I followed the example in the styleguide for showing some local text (see below), but that gives me the following error. Thoughts?

<img width="1058" alt="Screenshot 2021-01-25 at 16 28 46" src="https://user-images.githubusercontent.com/123201/105726463-67d1cd00-5f2a-11eb-95dc-201a398515aa.png">

[2021-01-25 15:30] fabdrol commented on #103
[code]

[2021-01-25 15:33] fabdrol commented on #103
Duplicate

[2021-01-25 15:33] #103 closed, assigned to nobody

[2021-01-25 15:43] fabdrol commented on #93
I had this issue as well. More information:

**Works:**
[code]

**Does not work:**
[code]

The **only** difference is that in the 2nd snippet, the adjacent `div` has styling.

[2021-01-25 15:46] fabdrol commented on #93
Actually; that may not be it. When reloading the "working" solution consecutively, it sometimes works, sometimes doesn't

[2021-02-01 20:40] jfoliveira commented on #89
Just a quick update, in case it helps others:
- after upgrading [parceljs](https://v2.parceljs.org/) to version `"^2.0.0-nightly.462"` the issue is gone

Kudos to the `parceljs` team!

`react-lazylog` is now working like a charm.
Thank you for this amazing package folks!

[2021-02-10 19:55] georgejdli opened #104 "Clearing text"
I would like to be able to clear the current text from the display similar to you can clear the text from a terminal window by entering the "clear" command.

I played around with extended the LazyLog component in my project and added a "clearText" method that calls this.setState
[code]
To use this new method I would bind a ref (with useRef) to the LazyLogClear and call it elsewhere in my app.
The

[2021-03-26 09:05] YevhenTarashchyk commented on #40
@ausrasul Hello ) so did u fix that issue ?

[2021-03-26 09:27] ausrasul commented on #40
Hello @YevhenTarashchyk !
Yes, it is in PR https://github.com/mozilla-frontend-infra/react-lazylog/pull/41
I probably should rebase and send the PR again though.

[2021-03-31 13:38] YevhenTarashchyk commented on #40
@ausrasul It would be nice ) i will really appreciate this, because for me "onScroll" and "stopFollowing" are not working, i don't get why this features are in official documentation and they are not working. Almost two years have passed and no updates xD

[2021-03-31 13:39] YevhenTarashchyk commented on #40
@helfi92 could you pls review the pr
P.S. i don't understand why we need ScrollFollow if it is not working at all

[2021-04-07 15:41] SilkageNet commented on #93
This error occurs if `lines` is empty.

[2021-04-15 15:52] guntur-ricardo commented on #90
Hey @helfi92 !

I've been trying to replicate on codesandbox but it won't let me import LazyLog, I think it's a codesandbox issue. The best I can do is show my code snippet. We're using the latest V4.5.3. Chrome + Mac Catalina.

The flicker happens at the bottom of the log and I believe it happens more often depending on the height of the logs. (just a guess). I have tried messing around with styl

[2021-05-20 02:26] panniyuyu commented on #83
I think it is necessary and hope to support.😁

[2021-05-26 20:30] YevhenTarashchyk commented on #57
@helfi92 or @timdudman Could you pls tell me why it doesn't work for instance with 107mERROR  ...from ansi table in should be red colored, but it doesn't work for me

[2021-06-10 19:12] woodreamz commented on #90
I am having the same issue. Has anyone found a solution?

[2021-06-11 14:07] woodreamz opened #114 "Is this package maintained?"
Hi!

Good job for this component! I wonder if this package is still maintained? It seems there is no activity and PRs are not reviewed.

We are using this component in our webapp but we need some bug fixes/improvements:
- formatPart in search mode #97
- Shaking issue #90
- Be able to override messages

If it's not maintained, I will eventually fork this one and publish a new one. Of course, I pref

[2021-06-16 15:05] YevhenTarashchyk commented on #114
@woodreamz this package is dead ))) moreover 50% of functionality provided by documentation is not working )

[2021-06-16 15:07] YevhenTarashchyk commented on #114
@woodreamz so my team and I wrote a lot of not working(and missing) functionality by ourselves

[2021-06-16 15:12] woodreamz commented on #114
Interesting, in my case, most of the features are working. At least, those I use...

Since I have no response from maintainers, I think I will fork it.

[2021-06-16 15:18] YevhenTarashchyk commented on #114
@woodreamz it doesn't save logs ) so for example u go to another page and then roll back ) and logs would be streaming again ) so if u are working with websockets and need to see previous logs this library is not for u + scrollfollow system is useless as it is not working )

[2021-06-16 15:21] woodreamz commented on #114
Ok, I understand. I don't use this package for the log streaming. I only use it as a log viewer for a specific file. That's why  don't have any issue.

[2021-06-16 15:23] YevhenTarashchyk commented on #114
@woodreamz yeah ) in this case it is suitable enough

[2021-07-13 19:24] bduffany commented on #40
Can confirm that `ScrollFollow` doesn't work at all, because the `render` prop changes every time the `ScrollFollow` component re-renders, since a new lambda gets passed in each time.

This causes `getDerivedStateFromProps` to return `{ follow: this.props.startFollowing }`, forcing the value of `this.state.follow` to always be set to whatever the `startFollowing` prop is set to.

So effectively, t

[2021-08-27 16:45] sberequek opened #117 "LazyLog Search Warning"
Hi,

using the LazyLog component at the first search I get the following message:

[code]
I don't understand if some parameter is missing in the configuration, but from the examples it doesn't seem to me. Can you help me? here is the LazyLog configuration and the link to an example made with [codesandbox](https://codesandbox.io/s/react-lazylog-search-problem-forked-t7j40?file=/src/App.js).

[code]

[2021-08-31 12:48] sberequek commented on #117
Hello, any suggestions to solve the problem?

[2021-09-29 04:50] DanielLeefu commented on #104
very good

[2021-10-06 10:38] BernhardRode opened #121 "Make Links Clickable"
Hi,

backstage.io's scaffolder makes use of this library. We came up with the idea of making links clickable in react-lazylog in https://github.com/backstage/backstage/issues/6841#issuecomment-933594672

Would this feature be interesting? I'd love to add it to the project.

[2021-10-08 16:10] 97amarnathk commented on #121
@BernhardRode This sounds interesting and a low hanging fruit. I can pick this up.

[2021-10-15 13:36] BernhardRode commented on #121
It's ready on my machine... although i have to wait until next week (legal clearance,.... corporate stuff)

[2021-11-17 10:16] BernhardRode commented on #121
4 weeks later... i'm happy to tell you that i finally got the clearance. So here is the feature.

https://github.com/mozilla-frontend-infra/react-lazylog/pull/123

[2021-12-07 21:47] bduffany commented on #90
**TLDR** The fix that worked for me is to always show the scrollbar by adding this style (replace `.YOUR_LAZYLOG_WRAPPER_CLASS` with a selector matching the parent element of your `<LazyLog>` component):

[code]

---

I am pretty sure this is happening due to an infinitely repeating sequence where the horizontal scrollbar gets hidden, then shown, then hidden again. The sequence is like this:

1. Y

[2021-12-22 10:14] sezayiaslan opened #124 "Is there any way to download logs"
Hi,
I want to save logs . I did'nt find a props for it. If there is could you help me please?

[2022-01-01 22:15] StevenMassaro commented on #83
I switched over to using PatternFly's logviewer, which supports line wrapping by default: https://www.patternfly.org/v4/extensions/log-viewer

[2022-06-21 09:15] qiushui123 commented on #124
you can use 'file-saver'

[2022-06-21 12:12] BernhardRode commented on #121
Any chance, getting this merged?

[2022-07-08 18:34] scho3034 commented on #124
Any updates on adding a download button?

[2022-07-20 16:54] ahmedshaaban00 commented on #16
@Shemlevy Did you find a way to achieve this?

[2022-09-02 21:03] JvilleDjango opened #131 "Loading"
How do you use the loading feature?

I have tried what you see below and a few other options. nothing works? Could you give me some directions? thanks
import { LazyLog, Loading } from "react-lazylog";
`<LazyLog
          extraLines={1}
          enableSearch
          text={logToView ? logToView : "Click on a log to view"}
          caseInsensitive
          loadingComponent={Loading}
        />`

[2022-11-12 21:43] drumfreak commented on #46
For NextJS with React < 18 I used this and it worked great:

[code]

Then use the component as normal:

[code]

I hope that helps!